body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav ul {
    position: absolute;
    top: 110px;
    right: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin-left: 15px;
}

nav ul li a:hover {
    color: #C78C19;
    text-decoration: underline ;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: #088C19;
    cursor: pointer;
}

.produtos li h2 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

.produtos .produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px ;
}

.produtos .produto-descricao {
    font-size: 18px;
}

footer {
    padding: 40px 0;
    background: url("bg.jpg");
    text-align: center;
}

.copyrigth {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

form {
    margin: 40px 0;
}

form label, form legend {
    font-size: 20px;
    margin: 0px 0 10px;
    display: block;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: all .2s;
    cursor: pointer;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.2) rotate(360deg);
}

table {
    margin: 40px;
}

thead {
    background: #555555;
    font-weight: bold;
    color: white;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

.centralize-title {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.banner {
    width: 100%;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios {
    clear: left;
    background: #888888;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888)
}

.mapa p {
    text-align: center;
    margin: 0 0 2em;
}
.imagembeneficios {
    width: 60%;
    opacity: 0.7;
    transition: opacity 1s;
    box-shadow: 10px 10px 10px #000000;
}

.imagembeneficios:hover {
    opacity: 1;
}

.video {
    width: 560px;
    margin: 2em auto;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens:first-child {
    font-weight: bold;
}

.itens {
    line-height: 1.5;
}

.itens::before {
    content: "★";    
}

.beneficios {
    padding: 3em 0;
}

@media screen and (max-width: 480px) {
    .caixa, .video, .produtos, .produtos li{
        width: auto;
    }

    .caixa form {
        text-align: center;
    }
    
    .caixa form input, .caixa form textarea{
        margin:  0 auto;
    }
    
    .caixa table {
        margin: 50px auto;
    }

    h1 {
        text-align: center;
    }
    nav ul{
        position: static;
    }
    .lista-beneficios, .imagembeneficios {
        width: 100%;
    }
}